<div class="logo-container">
  <span class="logo-text">Text Animator</span>
</div>
<!-- <nav class="header">
  <ul>
    <li
      routerLinkActive="active"
      routerLink="/dashboard/animation/"
      (mouseenter)="menuItemMouseEnter($event)"
      (mouseleave)="menuItemMouseLeave($event)"
      (click)="handleMenuClick()"
    >
      <a>Animation</a>
    </li>
  </ul>
</nav> -->
<span [class.hideMe]="!settingIsNotActive" class="header-menu-underline"></span>
<div class="icon-container">
  <div (click)="openSignOutDialog($event)">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <g data-name="Group 3760" transform="translate(-513 -39)">
        <circle
          id="Screen_Shot_2018-05-22_at_10.36.18_AM"
          data-name="Screen Shot 2018-05-22 at 10.36.18 AM"
          class="cls-1"
          cx="12"
          cy="12"
          r="12"
          transform="translate(513 39)"
        />
        <g transform="translate(520.311 44.451)">
          <g data-name="Group 3592" transform="translate(0 0)">
            <path
              data-name="Path 3874"
              class="cls-2"
              d="M33.652,14.7A2.652,2.652,0,1,0,31,12.052,2.651,2.651,0,0,0,33.652,14.7Z"
              transform="translate(-28.851 -9.4)"
            />
            <path
              data-name="Path 3875"
              class="cls-2"
              d="M16.019,55.323h8.765A.411.411,0,0,0,25.2,54.9V53.369A3.771,3.771,0,0,0,21.434,49.6H19.369A3.771,3.771,0,0,0,15.6,53.369V54.9A.411.411,0,0,0,16.019,55.323Z"
              transform="translate(-15.6 -43.989)"
            />
          </g>
        </g>
      </g>
    </svg>
  </div>
  <mf-drop-down
    class="sign-out-drop-down"
    *ngIf="showDropDown"
    [menus]="dropDownContent"
    (doOnClick)="onClickOnItem($event)"
    (doOnClose)="onClosedDropDown()"
    [animation]="'down'"
  ></mf-drop-down>
</div>
