@import '~app/variables';
@import '~app/mixin';
@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}

:host {
    width: 100vw;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 70px);
    .pack-detail-header {
        @include flex-position('space-between', 'center');
        text-align: center;
        padding: 23px 14px;
        flex-wrap: wrap;
        .go-back {
            @include flex-position('flex-start', 'center');
            padding-bottom: 4px;
            cursor: pointer;
            img {
                @include size(9px);
            }
            span {
                font-size: $font-size-large;
                padding-left: 17.5px;
            }
        }
        .action {
            display: flex;
            .category-btn {
                @include flex-position('center', 'center');
                padding: 0 11px 2px 11px;
                height: 21px;
                background-color: #3C3C3C;
                font-size: $font-size-medium;
                text-align: center;
                border-radius: 3px;
                cursor: pointer;
                .categories-drop-down {
                    width: 200px;
                    margin: 10px 50px 0 -162px;
                    z-index: 99;
                    max-height: 70vh;
                    @media (max-width: 199px) {
                        width: 80vw;
                        margin: 10px 0 0 -36px;
                    }
                  
                }
            }
            .box-mode {
                height: 23px;
                display: none;
                img {
                    @include size(11px);
                    padding: 6px;
                }
                &.active {
                    background-color: #3C3C3C;
                    border-radius: 3px;
                }
            }
            .list-mode {
                height: 23px;
                display: none;
                img {
                    @include size(11px);
                    padding: 6px;
                }
                &.active {
                    background-color: #3C3C3C;
                    border-radius: 3px;
                }
            }
        }
    }
    .pack-detail-categories {
        overflow-y: scroll;
        padding: 0 0 0 8px;
        height: calc( 100vh - 145px);
        transform: translate3d(0,0,0);
        .category {
            
            .title {
                font-size: $font-size-medium;
                padding: 0 0 9px 5px;
            }
            .items {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                transform: translate3d(0, 0, 0);
                margin-bottom: 6px;
                mf-template-item {
                    margin: 3px 0 3px 0;
                    &.removed{
                        display: none;
                    }
                }
            }
        }
    }
}