@import "~app/variables";

:host {
    color: black;

    .forgot-password-fields {
        display: flex;
        flex-direction: column;
        align-items: center;

        .prev-step {
            color: #8690b3;
            font-size: 12px;
            cursor: pointer;
            width: 315px;
            text-align: center;
            margin-top: 14px;

            img {
                vertical-align: middle;
                margin-right: 7px;
            }

            &:hover {
                opacity: 0.75;
            }
        }

        &>* {
            margin-bottom: 13px;
        }
    }

}