<form
  [formGroup]="requestForgotPasswordForm"
  (ngSubmit)="
    !requestForgotPasswordForm.invalid && requestForgotPassword($event)
  "
  ngNativeValidate
>
  <div class="forgot-password-fields">
    <mf-auth-error [errors]="errors"></mf-auth-error>
    <mf-auth-text-input
      type="email"
      name="Enter your email here"
      required
      formControlName="email"
      [formGroup]="requestForgotPasswordForm"
      [error]="
        emailControl.invalid && emailControl.dirty && emailControl.touched
      "
    ></mf-auth-text-input>
    <mf-auth-button
      text="Continue"
      [textColor]="['#fff', '#fff']"
      [backgroundColor]="['#3C40FF', '#6A6DE6']"
      [borderColor]="['transparent', 'transparent']"
      [loading]="requestForgotPasswordLoading"
      [disabled]="requestForgotPasswordForm.invalid"
    ></mf-auth-button>
    <div class="prev-step" (click)="backToLogin()">
      <img src="assets/prev-step-arrow.svg" /> <span>Back to login</span>
    </div>
  </div>
</form>
