.footer {
    color: #8690b3;
    font-size: 12px;
    text-align: center;
    line-height: 17px;
    padding-bottom: 18px;
    cursor: default;

    div {
        text-decoration: underline;
        cursor: pointer;
    }
}