<div class="forgot-password-container slide-parent">
  <div class="slide-ready" [class.slide-out]="changePasswordStep !== 1">
    <h3>Forgot your password?</h3>
    <div class="description">Enter your email address to reset your
      <br>password.</div>
    <form [formGroup]="forgotPasswordFirstForm" (ngSubmit)="requestToken($event)">
      <p class="request-result" [hidden]="forgotPasswordMessage == '' || sendingRequest">{{ forgotPasswordMessage }}</p>
      <div class="form-results">
        <p class="form-result" *ngIf="(email.invalid && email.touched && email.dirty)">
          Please enter a valid email address. </p>
      </div>
      <input id="forgot-form-email-input" formControlName="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,5}$" name="email" placeholder="Your email" [class.invalidInput]="(email.invalid && email.dirty && email.touched)">
      <div class="button-container">
        <button *ngIf="!sendingRequest; else showLoading1" type="submit" name="submit" [disabled]="forgotPasswordFirstForm.invalid">Submit</button>
        <ng-template #showLoading1>
          <div class="submit-loader"></div>
        </ng-template>
      </div>
    </form>
  </div>
  <div class="slide-ready" [hidden]="changePasswordStep === 1" [class.slide-in]="changePasswordStep !== 1">
    <h3>Reset password</h3>
    <div class="description">A reset code has been emailed to your email
      <br> address. It will expire in 15 minutes!</div>
    <form class="step2-form" [formGroup]="forgotPasswordSecondForm" (ngSubmit)="sendPassword($event)">
      <p class="request-result" [hidden]="forgotPasswordMessage == '' || sendingRequest">{{ forgotPasswordMessage }}</p>
      <div class="form-results">
        <p class="form-result" *ngIf="code.touched && code.invalid">
          The code is not valid. </p>
          <p class="form-result" *ngIf="repassword.invalid && repassword.dirty && repassword.touched || password.invalid && password.dirty && password.touched">
            Password should be at least 6 characters. </p>
        <p class="form-result" *ngIf="repassword.touched && repassword.errors">
          Passwords do not match. </p>
      </div>
      <input id="forgot-form-code-input" formControlName="code" name="code" placeholder="Enter your reset code" [class.invalid-input]="(code.invalid && code.dirty && code.touched)">
      <input id="forgot-form-password-input" type="password" formControlName="password" name="password" placeholder="Password"
        [class.invalid-input]="(password.invalid && password.dirty && password.touched)">
      <input id="forgot-form-repassword-input" type="password" formControlName="repassword" name="repassword" placeholder="Re-enter password"
        [class.invalid-input]="(repassword.invalid && repassword.dirty && repassword.touched)">
      <div class="button-container">
        <button *ngIf="!sendingRequest; else showLoading2" type="submit" name="submit" [disabled]="forgotPasswordSecondForm.invalid">Done!</button>
        <ng-template #showLoading2>
          <div class="submit-loader"></div>
        </ng-template>
      </div>
    </form>
  </div>
</div>
<p class="back-to-signin" (click)="backToSignin()">Back to sign in</p>