@import '~app/variables';
.forgot-password-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 36px - 61px); // 36 is the height of header, 61 is signin text height + margin bottom 
    h3 {
        color: #ffffff;
        font-size: $font-size-giant;
        text-align: center;
        margin-bottom: 25px;
        &.reduced-margin {
            margin-bottom: 20px;
        }
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        .request-result,
        .form-result {
            color: #F94F7E;
            font-size: $font-size-medium;
            margin-bottom: 10px;
            text-align: center;
        }
        .form-results {
            p:nth-child(2) {
                margin-top: 3px;
            }
        }
        input {
            width: 256px;
            font-family: $font-family-semibold;
            height: 35px;
            border: none;
            font-size: $font-size-medium;
            border-radius: 4px;
            background-color: #1F1F1F;
            outline: none;
            color: #B9B9B9;
            margin-bottom: 10px;
            padding: 1px 5px;
            text-align: center;
            &:focus::placeholder {
                color: transparent;
            }
            &::placeholder {
                text-align: center;
                color: #b9b9b94f;
            }
            &.invalid-input {
                border: 1px solid #53212F;
                padding-top: 0;
                padding-bottom: 0;
                box-shadow: 0 0 4px 5px rgba(233, 23, 23, 0.19);
            }
        }
        #forgot-form-email-input {
            margin-bottom: 60px;
        }
        #forgot-form-repassword-input {
            margin-bottom: 25px;
        }
        .button-container {
            position: relative;
            height: 30px;
            button {
                background-color: #204BE6;
                width: 82px;
                height: 30px;
                padding: 5px;
                font-size: $font-size-medium;
                color: #fff;
                border: none;
                outline: 0;
                border-radius: 4px;
                cursor: pointer;
                &:disabled,
                &[disabled] {
                    background-color: #3e3e3e;
                    color: #666666;
                    cursor: not-allowed;
                }
            }
            .submit-loader {
                position: absolute;
                top: -6px;
                left: 50%;
                width: 40px;
                height: 30px;
                transform: translateX(-50%);
                background-image: url(../../../../assets/loading.svg);
                background-size: cover;
            }
        }
    }
    .description {
        color: $forms-text-color;
        font-size: $font-size-large;
        margin-bottom: 40px;
        text-align: center;
    }
}

.back-to-signin {
    color: #fff;
    font-size: $font-size-large;
    margin: 0;
    text-align: center;
    cursor: pointer;
}