<div class="container" (mouseenter)="mouseEnter()" (mouseleave)="mouseLeave()">
  <span class="item" *ngIf="show(0)" (mouseup) = "handleMouseUp(0)">
    <div>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27.191 17.868">
        <g transform="translate(0 0.5)">
          <rect class="a" width="27.191" height="15.861" rx="4" transform="translate(0 1.507)" />
          <path class="b" d="M3.989,0,7.427,3.439,3.989,6.877H0V0Z" transform="translate(11.444) rotate(90)" />
          <path class="c" d="M61.515,93.693v12.245" transform="translate(-53.51 -90.043)" />
        </g>
      </svg>
      <span>In</span>
    </div>
  </span>
  <span class="item" *ngIf="show(1)" (mouseup) = "handleMouseUp(1)">
    <div>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27.191 17.868">
        <g transform="translate(0 0.5)">
          <rect class="a" width="27.191" height="15.861" rx="4" transform="translate(0 1.507)" />
          <path class="b" d="M3.989,0,7.427,3.439,3.989,6.877H0V0Z" transform="translate(22.773) rotate(90)" />
          <path class="c" d="M61.515,93.693v12.245" transform="translate(-42.18 -90.043)" />
        </g>
      </svg>
      <span>Out</span>
    </div>
  </span>
  <span class="item" *ngIf="showBoth" (mouseup) = "handleMouseUp(2)">
    <div>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.744 17.868">
        <g transform="translate(0 0.5)">
          <rect class="a ahover" width="34.744" height="15.861" rx="4" transform="translate(0 1.507)" />
          <path class="b bhover" d="M3.989,0,7.427,3.439,3.989,6.877H0V0Z" transform="translate(10.688) rotate(90)" />
          <path class="b bhover" d="M3.989,0,7.427,3.439,3.989,6.877H0V0Z" transform="translate(31.081) rotate(90)" />
          <path class="c chover" d="M61.515,93.693v12.245" transform="translate(-54.265 -90.043)" />
          <path class="c chover" d="M61.515,93.693v12.245" transform="translate(-33.872 -90.043)" />
        </g>
      </svg>
      <span>In & Out</span>
    </div>
  </span>
  <div class="item apply" *ngIf="show(3)" (mouseup) = "handleMouseUp(3)">
    <div>Apply to Layer</div>
  </div>
</div>