:host {
    // display: flex;
    // flex-direction: column;
    width: 100vw;
    min-width: 399px;
    overflow-x: hidden;
}

// .mf-body {
//   display: flex;
//   flex-direction: column;
// }

#drag-drop-canvas {
    display: none;
}