@import "~app/variables";

:host {
  color: black;

  .forgot-password-fields {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > * {
      margin-bottom: 13px;
    }
  }
}
