<form
  [formGroup]="forgotChangePasswordForm"
  (ngSubmit)="!forgotChangePasswordForm.invalid && setPassword($event)"
  ngNativeValidate
>
  <div class="forgot-password-fields">
    <mf-auth-error [errors]="errors"></mf-auth-error>
    <mf-auth-text-input
      type="text"
      name="Enter your reset code"
      required
      formControlName="resetCode"
      [formGroup]="forgotChangePasswordForm"
      [error]="
        resetCodeControl.invalid &&
        resetCodeControl.dirty &&
        resetCodeControl.touched
      "
    ></mf-auth-text-input>
    <mf-auth-text-input
      type="password"
      name="Password with at least 6 characters"
      required
      formControlName="password"
      [formGroup]="forgotChangePasswordForm"
      [error]="
        passwordControl.invalid &&
        passwordControl.dirty &&
        passwordControl.touched
      "
    ></mf-auth-text-input>
    <mf-auth-text-input
      type="password"
      name="Confirm password"
      required
      formControlName="confirmPassword"
      [formGroup]="forgotChangePasswordForm"
      [error]="
        confirmPasswordControl.invalid &&
        confirmPasswordControl.dirty &&
        confirmPasswordControl.touched
      "
    ></mf-auth-text-input>
    <mf-auth-button
      text="Done"
      [textColor]="['#fff', '#fff']"
      [backgroundColor]="['#3C40FF', '#6A6DE6']"
      [borderColor]="['transparent', 'transparent']"
      [loading]="forgotChangePasswordLoading"
      [disabled]="forgotChangePasswordForm.invalid"
    ></mf-auth-button>
  </div>
</form>
